.container {
  max-width: 36rem;
  padding: 0 6rem;
  margin: 3rem auto 6rem;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome{
  margin: 3rem 0 0;
}

.bgWraps{
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
